#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #cecece;
  user-select: none;
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flag-display-default {
  width: 16rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-display {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 16rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-image {
  width: 10rem;
  height: auto;
}

.start-button-container {
  margin-top: 2rem;
}

.button-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.reset-button-container {
  margin-bottom: 2rem;
}

.button-on {
  background-color: #7dbfd8;
}

.button-off {
  background-color: #8e8e8e;
  pointer-events: none;
}

.button-correct {
  background-color: #21a600;
}

.button-wrong {
  background-color: #ac0900;
}