#root {
  margin: 0 auto;
  text-align: center;
  user-select: none;
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem 0 0.5rem;
}

h3 {
  margin-top: 0;
}

.flag-display-default {
  background-color: #b3b3b3;
  border-radius: 1rem;
  border: 0.1rem solid black;
  width: 15rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-display {
  background-color: #7dbfd8;
  border-radius: 1rem;
  border: 0.1rem solid black;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 15rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-image {
  width: 10rem;
  height: auto;
}

.main-buttons {
  display: flex;
  gap: 2rem;
}

.start-button-container {
  margin-top: 2rem;
}

.reset-button-container {
  margin-top: 2rem;
}

.button-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

button:not(.button-correct):not(.button-wrong):hover {
  background-color: #2a88ae;
}

.button-on {
  background-color: #7dbfd8;
}

.button-off {
  background-color: #b3b3b3;
  pointer-events: none;
}

.button-correct {
  background-color: #21a600;
}

.button-wrong {
  background-color: #ac0900;
}

.footer {
  display: flex;
  gap: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.result-modal-hidden {
  display: none;
}

.result-modal-shown {
  position: fixed;
  top: 10rem;
  z-index: 2;
  width: 30rem;
  height: 20rem;
  border-radius: 2rem;
  background-color: #b3b3b3;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 0.2rem solid black;
}

.result-details {
  margin-bottom: 0;
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {transform: translateX(0);}
  10% {transform: translateX(-0.4rem);}
  20% {transform: translateX(0.4rem);}
  30% {transform: translateX(-0.4rem);}
  40% {transform: translateX(0.4rem);}
  50% {transform: translateX(-0.4rem);}
  60% {transform: translateX(0.4rem);}
  70% {transform: translateX(-0.4rem);}
  80% {transform: translateX(0.4rem);}
  90% {transform: translateX(-0.4rem);}
  100% {transform: translateX(0);}
}